In [1]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'rest.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [2]:
import numpy as np
import pandas as pd
import pandas_ta as ta
from ta import add_all_ta_features
from ta.utils import dropna
from tqdm import tqdm_notebook as tqdm
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from quiz.models import Pattern, HistoricalPatternActionPoint
from bourse_refs_api.models import Stock, StockHistory

In [32]:
queryset = list(StockHistory.objects.all().values())

In [34]:
df = pd.DataFrame(queryset)

In [35]:
df

,id,stock_id,date,max_price,min_price,last_price,last_deal_price,first_price,yesterday_price,value,volume,count
0,74501,5305844922895340,2019-08-14,4599,4450,4541,4578,4500,4432,10550901534,2323693,610
1,74502,5317427172344706,2019-08-14,21415,21415,21415,21415,21415,20396,3700426340,172796,1662
2,74503,5427792638736934,2019-08-14,17527,17105,17472,17527,17480,16693,48179415237,2757502,1017
3,74504,5516102131364383,2019-08-14,9779,9311,9722,9779,9575,9314,27385698321,2816800,738
4,74505,5564768007356822,2019-08-14,2749,2654,2686,2667,2700,2715,67545802763,25148785,3302
...,...,...,...,...,...,...,...,...,...,...,...,...
426144,74496,1625149423498289,2019-08-14,20690,19222,20156,20288,20000,20031,54268416506,2692459,1123
426145,74497,2135047529277416,2019-08-14,2797,2797,2797,2797,2797,2664,136392908,48764,9
426146,74498,3492952121304423,2019-08-14,10500,10000,10077,10100,10500,10303,10932147697,1084815,511
426147,74499,4247709727327181,2019-08-14,6940,6601,6798,6805,6690,6695,13082889460,1924382,427
426148,74500,4507558419857064,2019-08-14,11032,10590,10980,11032,10590,10507,34018717031,3098232,1386

In [38]:
df.stock_id = list(map(lambda x: str(x['stock_id']), queryset))

In [39]:
set(df.stock_id

0         5305844922895340
1         5317427172344706
2         5427792638736934
3         5516102131364383
4         5564768007356822
                ...
426144    1625149423498289
426145    2135047529277416
426146    3492952121304423
426147    4247709727327181
426148    4507558419857064
Name: stock_id, Length: 426149, dtype: object

In [22]:
df = pd.DataFrame(StockHistory.objects.all().values())
df = df.sort_values('date').reset_index(drop=True)
df = dropna(df)

In [5]:
stocks = Stock.objects.all()
stocks_object = {
    stock.id: stock for stock in stocks
}

In [23]:
df = df.sort_values(['stock_id', 'date'])

In [24]:
df = df.rename(columns={
    'max_price': 'high',
    'min_price': 'low',
    'last_deal_price': 'close',
    'first_price': 'open'
})

In [29]:
df.stock_id

134055       22129017544200
134576       22129017544200
135093       22129017544200
135626       22129017544200
136175       22129017544200
                ...
393346    71980027636215728
393991    71980027636215728
394567    71980027636215728
395166    71980027636215728
395818    71980027636215728
Name: stock_id, Length: 426058, dtype: int64

In [26]:
df[df.stock_id == 66456062140680464]

,id,stock_id,date,high,low,last_price,close,open,yesterday_price,value,volume,count
300,199325,66456062140680464,2018-07-01,1750.0,1622.0,1646,1623,1750.0,1707,365386196,224482,44
581,199781,66456062140680464,2018-07-02,1728.0,1591.0,1649,1591,1700.0,1646,33182320,19552,9
1049,200268,66456062140680464,2018-07-03,1688.0,1605.0,1649,1686,1610.0,1649,10233518,6247,6
1531,200729,66456062140680464,2018-07-04,1679.0,1590.0,1647,1590,1610.0,1649,21466749,13318,11
1985,201207,66456062140680464,2018-07-07,1590.0,1565.0,1622,1571,1590.0,1647,158807119,101000,11
...,...,...,...,...,...,...,...,...,...,...,...,...
423307,464385,66456062140680464,2021-08-09,13610.0,12810.0,13360,13420,12810.0,12970,19884190850,1488452,672
423794,465163,66456062140680464,2021-08-10,13940.0,12900.0,13360,13380,13940.0,13360,34939936990,2615828,961
424692,465939,66456062140680464,2021-08-11,13680.0,13200.0,13440,13490,13680.0,13360,28202838180,2099178,705
424939,466688,66456062140680464,2021-08-14,13710.0,12770.0,12980,12870,13710.0,13440,18148376410,1397808,684
426094,467272,66456062140680464,2021-08-15,13460.0,12980.0,13220,13290,13010.0,12980,18176852480,1374544,439

In [27]:
dfset(map(lambda x: x[0], StockHistory.objects.all().values_list('stock_id')))

{23049019886587905,
 16693610252404739,
 66726992874614788,
 19471788163911687,
 42696242981550091,
 38568786927478796,
 67083516977047564,
 71076372178147339,
 45519261544951819,
 2161110547458064,
 12965822877128721,
 7268401059874834,
 50341528161302545,
 7385624172574740,
 48619517949257749,
 35150770536114195,
 19298748452450329,
 4942127026063388,
 54299437423394846,
 29860265627578401,
 15494954332657697,
 24644999329120295,
 17059960254855208,
 39191249877936167,
 62810990108260391,
 27361263980884014,
 69090868458637360,
 63965059137798192,
 40411537531154482,
 43552974795606067,
 43342306308122676,
 57585821705408565,
 21772258644715569,
 70474983732269112,
 10654052153538617,
 51244286061307960,
 71665987033532474,
 67170215467608124,
 71856634742001725,
 52220424531578944,
 65490886290565185,
 66142616039907394,
 47841327496247362,
 63580313877463104,
 611986653700161,
 50633804639547462,
 3050342257199174,
 21173014653958212,
 68870496728320072,
 62404730109947970,
 67327029014085707,
 44967158778304588,
 36592972482259020,
 48879205486884942,
 22299894048845903,
 47749661205825616,
 55490250330757201,
 61664227282090067,
 65321970913593427,
 36830514291646551,
 46247216629420121,
 67522512921942106,
 16056283141617755,
 68517032834363488,
 39481233087768672,
 17528249960294496,
 24869832924911721,
 23936607891892333,
 25001509088465005,
 33783140337377394,
 57086055330734195,
 23293437377896568,
 14659267774417019,
 53204330224889981,
 14825024264732797,
 68635710163497089,
 37868548258173059,
 6433335428452486,
 59525964192678026,
 60061422939859083,
 63570910379296908,
 44625249840480397,
 43913530989262989,
 25919132649861263,
 54424603805821073,
 42387718866026650,
 60095061789823130,
 67223870501587101,
 67988012428906654,
 59652306881376415,
 41796741644273824,
 67126881188552864,
 55254206302462116,
 37351190176977060,
 49641108336531623,
 68909035712962732,
 45736528102248622,
 62221150547292335,
 10055255678920880,
 379466056274101,
 52975109254504632,
 28854105556435129,
 18063426072758458,
 60247433951600827,
 56550776668133562,
 62952165421099192,
 3542690854557886,
 62603302940123327,
 66682662312253625,
 43374709930371268,
 48753732042176709,
 28864540805361867,
 57944184894703821,
 47702059190622416,
 43455612336353491,
 60079434631497942,
 19367527798307032,
 59800986739603675,
 18007109712724189,
 60451823714332895,
 11936058301634784,
 70498485598181604,
 66842081487196389,
 44013656953678055,
 9536587154100457,
 26259366519412975,
 63704201144621295,
 25328018826422512,
 50247622569476338,
 49627523909849331,
 31913287805282551,
 34774414473029882,
 18303237082155264,
 17269972595370241,
 40262275031537922,
 46752599569017089,
 13010835010902276,
 55848849021200650,
 66456062140680461,
 28845264556937486,
 53686258677793038,
 41227201752535311,
 17330546482145553,
 35282121039020302,
 10145129193828624,
 15090491830692116,
 46772701938567445,
 70595828753641750,
 41625340598198551,
 9171279728707865,
 30731456862279964,
 4267564158935326,
 12303918642491681,
 23458117616920867,
 64973252728260903,
 27971147929780521,
 22667016906590506,
 10677799813511467,
 11560002870991149,
 43291783149314349,
 25286509736208688,
 20926459161497908,
 45895339414786358,
 6757220448540984,
 40611478183231802,
 42354736493447489,
 51294484197536070,
 37204371816016200,
 48511238766369097,
 52455922800537930,
 19040514831923530,
 17200458201581900,
 43966385447049549,
 11129387075131725,
 35116791907608909,
 24082902657114448,
 16553062355259729,
 7881099657101647,
 8725363201030474,
 33736447482634583,
 16725382720692568,
 54676885047867737,
 12874072841236826,
 11403770140000603,
 20865316761157979,
 29747059672582491,
 35669480110084448,
 55916539620839777,
 37222720235819361,
 38547060135156069,
 9761381741308262,
 30038978589192551,
 49502666250908008,
 68488673556087148,
 66599109405217136,
 4686607974846832,
 47101579271117172,
 63552922113415543,
 63830424809501048,
 4733285133017464,
 31723276281575803,
 40650252484299134,
 31959715133485440,
 12490072956930435,
 24794536744903047,
 45114894022818184,
 778253364357513,
 67979306676078989,
 32678431934327184,
 32784604551756178,
 58358543014279572,
 52792903131341205,
 5564768007356822,
 29247915161590165,
 66021783818850713,
 59607545337891226,
 56954020142895515,
 45608932669358493,
 3362850293262749,
 68437109220917664,
 19511179561056679,
 2262715289665960,
 8977441217024425,
 15451317146134956,
 55979741213594029,
 11964419322927535,
 30561102210568623,
 17939384202383793,
 14916489896692147,
 18568733593280948,
 39751275523025334,
 66830065858417081,
 9211775239375291,
 23353689102956991,
 59266699437480384,
 28325731560106431,
 60610861509165508,
 59217041815333317,
 43283802997035462,
 19839750988634567,
 46830341954511303,
 22308305646551497,
 61265100181977543,
 65472108074101196,
 13666407494621646,
 22787503301679573,
 23838634016123354,
 67206358287598044,
 59839275647597021,
 66183408418816482,
 33854964748757477,
 43951910415124966,
 66210395067138534,
 35700344742885862,
 57722642338781674,
 25336820825905643,
 38285971158073841,
 52232388263291380,
 13611044044646901,
 41302553376174581,
 15521712617204216,
 38084304113529336,
 47333458678352378,
 38101196401916411,
 43341623113615869,
 66295665969375744,
 44723997362573824,
 15472396110662150,
 35948133957468680,
 47348197320716810,
 60633055620418060,
 12752224677923341,
 10120557300120078,
 23214828924506640,
 43781018754867729,
 42049553761321495,
 43667708360002073,
 27308217070238237,
 5516102131364383,
 37366608481858080,
 64942549055019553,
 68890878790107680,
 24018878640527909,
 5427792638736934,
 36995197800118822,
 43622578471330344,
 19429005738572326,
 47245955682789926,
 18093681647131179,
 39683880301779506,
 54369290104873523,
 51429911704474163,
 58024357149774390,
 17800036702302776,
 16405556680571453,
 37389789764168256,
 40043919653526083,
 3623921205367364,
 25357135030606405,
 48010225447410247,
 54493234408301135,
 2501017203331667,
 12041217376571987,
 65249046611427924,
 3164894984700505,
 54509759694064219,
 10919655792568926,
 21426277483799140,
 57551382352708199,
 17226661368470120,
 20034264486679145,
 9698674686691945,
 59486059679335017,
 32679348534913643,
 61725225143026283,
 64217006537761390,
 4395741730355818,
 28193210058353265,
 18883380772506226,
 22382156782768756,
 46270513972980340,
 71758511001096824,
 7711282667602555,
 49244604018250364,
 7235435095059069,
 15039949673085566,
 16959429956899455,
 35796086458096255,
 46262771961973371,
 68231984905144960,
 66862855436943996,
 14312030900097668,
 55373808401388162,
 20611319144970886,
 43023243844297350,
 11358107932902023,
 40025799067544201,
 59061939785593482,
 56772105873719945,
 18982971907252877,
 56661108161921677,
 41935584690956944,
 48338606859106961,
 65826018889855636,
 2434703913394836,
 5818838554339991,
 517453086671514,
 11332953223903902,
 28253678449273505,
 39807886630843041,
 50002340308486819,
 41713045190742691,
 58931793851445922,
 27157296306913953,
 26997316501080743,
 28749125862783655,
 17284166795866794,
 71068313834275501,
 45641540066710190,
 50652985928800943,
 14398278072324784,
 5054819322815158,
 33293588228706998,
 35158826900216508,
 59598536122397373,
 27729386420118206,
 16040900750729921,
 58741071099161284,
 43545527030854340,
 19310456400689867,
 18346219759153870,
 28291104595448527,
 55127657985997520,
 65414507129586385,
 46167643644457680,
 65999092673039059,
 10168197471714005,
 64619251116188373,
 71523986304961239,
 54287510798838485,
 23891830829322971,
 14364842601603807,
 37842793167868642,
 43716452378323683,
 45066064863062755,
 51617145873056483,
 29974853866926823,
 33541897671561960,
 27220069106600682,
 33887145736684266,
 59866041653103343,
 17834623106317041,
 49869693814643443,
 56717416662584054,
 7503669593172728,
 4202223580392187,
 15949743338644220,
 29316948750916349,
 34673681828119297,
 62258804563636993,
 36293785932444419,
 58180284328186631,
 27096851668435724,
 37998178264888078,
 43256212620530446,
 45174198424472334,
 32347247706508046,
 9925324137489171,
 14231831499205396,
 8646067353086740,
 48815536392499990,
 56429431740318486,
 25387056990464790,
 60783654574662426,
 22811176775480091,
 31078457170311964,
 47827701898502941,
 53482856220074779,
 44818950263583523,
 69143674941561637,
 49396161442874149,
 8915450910866216,
 49353447565507376,
 47302318535715632,
 54482686501491508,
 18027801615184692,
 5128151910501174,
 28957320033282870,
 20453828618330936,
 67030488744129337,
 11622051128546106,
 27812005859539773,
 22218966388689725,
 9141577977527107,
 30852391633490755,
 34718633636164421,
 7769065543658313,
 51185499879934793,
 11432067920374603,
 16315910303613772,
 2328862017676109,
 63917421733088077,
 40346507120206669,
 25244329144808274,
 26543014712914772,
 21851863906501460,
 57639364758870873,
 46741025610365786,
 10191122735393627,
 35030544513071961,
 21533807502850906,
 56006915451245411,
 3407806799514469,
 2122354233695079,
 32845891587040106,
 57600064931636077,
 33808206014018431,
 16422980660132735,
 5317427172344706,
 57309221039930244,
 65004959184388996,
 48990026850202503,
 23843877872814145,
 4369934250728330,
 26014913469567886,
 15930821245168534,
 47362853625306007,
 6847536925606808,
 11258722998911897,
 46348559193224090,
 24254843881948059,
 35369183060321179,
 71957984642204570,
 66450490505950110,
 18079534829579164,
 4528607775462304,
 65122215875355555,
 49399017998386087,
 30974710508383145,
 12387472624849835,
 56572417882819500,
 50377086180764587,
 15917865009187760,
 71744682148776880,
 22839330962768817,
 23837844039713715,
 11372565594192822,
 38179358042686391,
 53536131398384570,
 16630588761222078,
 69847139870135237,
 7745894403636165,
 68941822863885255,
 2705253775088582,
 4247709727327181,
 29716513021318095,
 14800142337291217,
 43356599956782034,
 57273529732791251,
 14819787164502995,
 21350214000597969,
 23269285154135003,
 7628308021169118,
 58035444268544991,
 62786156501584862,
 58873907630765023,
 42690477960659940,
 62558705479545830,
 44296315953738727,
 48623320733330408,
 2786094660320231,
 7505990056227818,
 16330743198286823,
 5305844922895340,
 65671173927025645,
 18004480270695404,
 64707090254488560,
 28593434160948209,
 19174812964848627,
 47377315952751604,
 65883838195688438,
 38738476064699383,
 7183333492448248,
 21500060221654011,
 59462881877083131,
 66036975502302203,
 58965710006903807,
 63380098535169030,
 63499217872110599,
 14617104402836487,
 44986797317463049,
 64843936383937546,
 33406621820337161,
 50201903966895115,
 50580753680043015,
 18865325633315847,
 18154205800023055,
 10831074117626896,
 36857080203588624,
 8817369445940242,
 54711449369613330,
 10024128313803797,
 41048299027409941,
 48981174642799639,
 24303422207378456,
 16673205196919832,
 29628038996571162,
 25752723009842207,
 31879190587976736,
 22941065011246116,
 36927349282989093,
 49054891736433700,
 18401147983387689,
 26882843763780650,
 5454781314262062,
 56798822689379375,
 1625149423498289,
 25631699615003698,
 3994823794687025,
 35424116338766901,
 39453972158399542,
 67682387713029178,
 33420285433308219,
 1277592884769853,
 16410724132711490,
 34721884030854211,
 15259343650667588,
 62977319271289925,
 17217689629682758,
 50117925085549635,
 57440811889769541,
 70289374539527245,
 71335098849021006,
 64124003812404302,
 33931218652865616,
 41286608288791633,
 5648656842888275,
 63481599728522324,
 65774725600261203,
 33441514568901717,
 22903901709044823,
 57728534324022361,
 39610074039667804,
 29758477602878557,
 37281199178613855,
 17617474823279712,
 70219663893822560,
 31159891095753824,
 63888998422355039,
 69375777591993444,
 14744445176220774,
 12746730665870442,
 1771069330721898,
 35178706978554988,
 30231789123900526,
 70934270174405743,
 43588544194911344,
 39116664428676213,
 20411759370751096,
 44891482026867833,
 12777578088653944,
 15282093177363578,
 6110133418282108,
 50368344235826302,
 7395271748414592,
 66424163876658304,
 55274159604040834,
 59612098290740355,
 69067576215760005,
 51063357877632134,
 60847854898533511,
 22255783119783047,
 59342912854668427,
 22275596386264204,
 52382684379473036,
 63363116407864462,
 4563413583000719,
 12901875871456398,
 1050751214677134,
 28788598290160782,
 53449700212786324,
 50100062518826135,
 1314853494617240,
 7300125658580126,
 46820237871803554,
 49953653111442595,
 64155926828410021,
 30719054967088301,
 2318736941376687,
 36667862403660976,
 13235547361447092,
 71666521540545716,
 33629260529503413,
 7420013136569528,
 41036181221659834,
 14061767679814842,
 14880127004206268,
 7483280423474368,
 44969149970836673,
 2696258159590598,
 27148572013604038,
 68994573424108746,
 54419429862704331,
 114312662654155,
 10568944722570445,
 23484847504768205,
 20622681776256207,
 43062880954780884,
 35964395659427029,
 66772024744156373,
 67675656072510693,
 36773155987365094,
 2400322364771558,
 41284516796232939,
 5920319552619760,
 38188825207508209,
 69454539056549106,
 69472361926040823,
 31049085025064185,
 64842837716888827,
 5599691633622269,
 10114441830266109,
 37614886280396031,
 63084741752814852,
 60350996279289099,
 8981227815720204,
 24085906177899789,
 29590002988360984,
 41122066907413786,
 15224214406952218,
 32257753560585502,
 22956708386610464,
 48970598895465763,
 22026498789176614,
 5550649038347558,
 7457232989848872,
 40505767672724777,
 35425587644337450,
 54263829393913132,
 53647874954005806,
 62235397452612911,
 60276690980289841,
 27218386411183410,
 12638840758449459,
 18599703143458101,
 34557241988629814,
 20966291817819448,
 22490169030401337,
 62012736978844991,
 43472427638799679,
 28230238564334914,
 58330599921175874,
 45518744711972166,
 44153164692325703,
 1358190916156744,
 58000772709340489,
 44802346787824971,
 44052047028305231,
 10171945867136336,
 59848307608894801,
 318005355896147,
 42599305106713939,
 8603978909726038,
 59470107928175959,
 28450080638096732,
 54277068923045214,
 65023851436340574,
 3492952121304423,
 24734871905109354,
 23086515493897579,
 19348717261145458,
 64289770858657141,
 20487994977117557,
 18919451747622263,
 14153483684603257,
 45050389997905274,
 41858326436945277,
 65576885779918210,
 68954282072063365,
 34032872653290886,
 45062188442385800,
 66766792660974984,
 43218203615198604,
 14073782708315535,
 23142133203996048,
 60654872678917533,
 28711499450482077,
 62177651435283872,
 48993230008229282,
 22318795784160675,
 23175320865252772,
 28672095850798501,
 18733719742989734,
 33683240001985963,
 2589887561569709,
 51106317433079213,
 3823243780502959,
 15231094335720879,
 25514780181345713,
 61978257933030834,
 16369313804633525,
 58964593134314938,
 31791737198597563,
 50139638026536387,
 32338211917133256,
 34432997122108874,
 28431095903407567,
 50185721305191887,
 63915926161403347,
 44850033148208596,
 35445515321658835,
 68117765376081366,
 39154317701922264,
 28320293733348826,
 33666678504801754,
 22950683624908253,
 27299841173245405,
 44665761767777759,
 41379697187196382,
 14985138705106402,
 30650426998863332,
 30829203706095076,
 4384288570322406,
 23441366113375722,
 41781090739318251,
 32821908911812078,
 55897939403232751,
 36671655475498480,
 52206600101613041,
 28809886765682162,
 17237314339763699,
 20300372560291314,
 66623036435820019,
 45728383369147894,
 70270965300262393,
 32357363984168442,
 68151613203549690,
 65018804181564924,
 67690708346979840,
 43362635835198978,
 13243992182070788,
 38007943162762758,
 6478064539164167,
 29882244560576007,
 22129017544200,
 31024260997481994,
 63310105340116493,
 19920168236103182,
 34621618468546063,
 66127247173352975,
 22560050433388046,
 1438514795814416,
 70309338813767186,
 59921975187856916,
 64485827086284311,
 63349738932971032,
 67612261115225625,
 43443105991896600,
 35955196754615835,
 24212636157410845,
 2819110578357790,
 28328710198554144,
 68798377122760225,
 70391097626818082,
 22427604495160869,
 45205530868811305,
 3654864906585643,
 52593789542874668,
 29122854902865456,
 66701874099226162,
 12230571636239922,
 57761388729898548,
 8977369674477111,
 53251602435454519,
 56324206651661881,
 11773403764702778,
 15374483986949695,
 64358061873294912,
 34890845654517313,
 10795723506538053,
 66818022341772870,
 63231914772162120,
 793710053482057,
 38437201078089290,
 69858202392669780,
 13937270451301973,
 37219684915629654,
 3493306453706327,
 61332057061846617,
 71510396252618330,
 1911343624441437,
 37631109616997982,
 53249498382937694,
 4614779520007780,
 41228676018429540,
 45104299259467366,
 32669817266382439,
 4758266259250794,
 70213691654258282,
 20582209779850866,
 831325835570803,
 22260326095996531,
 47232550823972469,
 59957747873181306,
 29839331402153595,
 34540569618314880,
 4159532151694984,
 61581369333689993,
 21420579611076234,
 1723099959084685,
 10831551130410639,
 15726796686853780,
 55201604487356053,
 6506179926371994,
 5866848234665627,
 42538255636473499,
 655060129740445,
 23600798892801694,
 37661500521100963,
 61102694810476197,
 26824673819862694,
 57875847776839336,
 4507558419857064,
 3173544097113770,
 17933573078185644,
 36899214178084525,
 61298636307861167,
 53113471126689455,
 49613772749166261,
 64463015242763957,
 16777570760181431,
 5987841496184505,
 28033133021443774,
 56591881518499520,
 27000326841257664,
 30765727085936322,
 39436183727126211,
 27952969918967492,
 60523145697836739,
 6700951770411072,
 35366681030756042,
 27922860956133067,
 28251956446987982,
 43026118635839182,
 56449205771773651,
 3846143218462419,
 61469668095573716,
 29527985620948695,
 64699417405634265,
 51971068201094874,
 4208841225215712,
 19120684319502050,
 45392752356003555,
 11427939669935844,
 20024911381434086,
 26547785441834730,
 15124889255100138,
 3863538898378476,
 5187018329202415,
 44549439964296944,
 46178280540110577,
 10843114830116591,
 64341992373049080,
 27668158733246204,
 16370154440238855,
 48241092863917835,
 36675444072965904,
 52675650218385169,
 47996917271187218,
 33611155027418901,
 3823146019192598,
 917857106093847,
 24807173016704795,
 46982154647719707,
 6043384171800349,
 66514709341259550,
 68203878405672734,
 408934423224097,
 58602432837130018,
 34641719089573667,
 33410001534682920,
 49674915481184052,
 33505686728824629,
 30447901674051381,
 4470657233334072,
 6131290133202745,
 12329519546621752,
 22086876724551482,
 65932581790240568,
 204092872752957,
 44384450315448120,
 7920014658832193,
 9987529074833218,
 66191028275418950,
 27814844870305607,
 20560887114747719,
 25180702353416009,
 41974758296041288,
 63315013743060811,
 21524058405934926,
 59887423232292688,
 51459202425114449,
 20562694899904339,
 49776615757150035,
 71672399601682259,
 2254054929817435,
 56820995669577571,
 67073295895957349,
 66240430785255272,
 22087269603540841,
 42256988946157416,
 30282299500988269,
 55959112038778737,
 30507152381699953,
 5289443384174453,
 61506294208022391,
 38555056423456635,
 3149396562827132,
 50792786683910016,
 7585208964980608,
 38713440086361985,
 40808043719554948,
 8444217089800070,
 55850912428859273,
 67491163253346186,
 19954896371640204,
 71290297158948749,
 30443839313522574,
 62346804681275278,
 25896842749407120,
 9481703061634967,
 24079409192818584,
 1822787329898392,
 57300230097485720,
 24785665268004766,
 64298008532791199,
 56574323121551263,
 32874370564962210,
 30703140537034664,
 44411078630612905,
 48287670503317419,
 3722699128879020,
 71980027636215726,
 53999651992586159,
 11827297444577200,
 24662567615903665,
 7768327419174840,
 49188729526980541,
 33603212156438463,
 20946530370469828,
 59735609117437896,
 25215182208950217,
 41024100982486985,
 13227300125161435,
 59142194115401696,
 28918651040038880,
 71429146297698274,
 31366347648583654,
 42075223783409640,
 14957056743925737,
 ...}

In [7]:
def add_cdl_patterns(group):
    try:
        return pd.concat([group, group.ta.cdl_pattern()], axis=1)
    except:
        return pd.DataFrame()

df = df.groupby('stock_id').apply(add_cdl_patterns)

In [8]:
df = df.rename(columns={ 'CDL_DOJI_10_0.1': 'CDL_DOJI' })

In [19]:
res_df = df.drop(['stock_id'], axis=1).reset_index()

In [20]:
res_df

,stock_id,level_1,id,date,high,low,last_price,close,open,yesterday_price,...,CDL_SPINNINGTOP,CDL_STALLEDPATTERN,CDL_STICKSANDWICH,CDL_TAKURI,CDL_TASUKIGAP,CDL_THRUSTING,CDL_TRISTAR,CDL_UNIQUE3RIVER,CDL_UPSIDEGAP2CROWS,CDL_XSIDEGAP3METHODS
0,22129017544200,134055,67778.0,2019-07-28,870.0,783.0,797.0,783.0,870.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22129017544200,134576,68280.0,2019-07-29,764.0,718.0,727.0,722.0,719.0,797.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22129017544200,135093,68812.0,2019-07-30,769.0,672.0,722.0,743.0,718.0,727.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22129017544200,135626,69324.0,2019-07-31,785.0,728.0,753.0,770.0,731.0,722.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22129017544200,136175,69871.0,2019-08-03,827.0,770.0,805.0,808.0,800.0,753.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425847,71980027636215728,393346,435103.0,2021-05-25,34300.0,31034.0,31254.0,31034.0,34300.0,32667.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425848,71980027636215728,393991,435716.0,2021-05-26,30500.0,29692.0,29706.0,29692.0,30500.0,31254.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425849,71980027636215728,394567,436312.0,2021-05-29,31191.0,28221.0,28225.0,28221.0,31191.0,29706.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425850,71980027636215728,395166,436939.0,2021-05-30,29400.0,26814.0,26899.0,26814.0,29400.0,28225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425851,71980027636215728,395818,437548.0,2021-05-31,28243.0,25555.0,25602.0,25555.0,28243.0,26899.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
res_df[res_df.stock_id == 66456062140680464]

,stock_id,level_1,id,date,high,low,last_price,close,open,yesterday_price,...,CDL_SPINNINGTOP,CDL_STALLEDPATTERN,CDL_STICKSANDWICH,CDL_TAKURI,CDL_TASUKIGAP,CDL_THRUSTING,CDL_TRISTAR,CDL_UNIQUE3RIVER,CDL_UPSIDEGAP2CROWS,CDL_XSIDEGAP3METHODS
396804,66456062140680464,300,199325.0,2018-07-01,1750.0,1622.0,1646.0,1623.0,1750.0,1707.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
396805,66456062140680464,581,199781.0,2018-07-02,1728.0,1591.0,1649.0,1591.0,1700.0,1646.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
396806,66456062140680464,1049,200268.0,2018-07-03,1688.0,1605.0,1649.0,1686.0,1610.0,1649.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
396807,66456062140680464,1531,200729.0,2018-07-04,1679.0,1590.0,1647.0,1590.0,1610.0,1649.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
396808,66456062140680464,1985,201207.0,2018-07-07,1590.0,1565.0,1622.0,1571.0,1590.0,1647.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397488,66456062140680464,423307,464385.0,2021-08-09,13610.0,12810.0,13360.0,13420.0,12810.0,12970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
397489,66456062140680464,423794,465163.0,2021-08-10,13940.0,12900.0,13360.0,13380.0,13940.0,13360.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
397490,66456062140680464,424692,465939.0,2021-08-11,13680.0,13200.0,13440.0,13490.0,13680.0,13360.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
397491,66456062140680464,424939,466688.0,2021-08-14,13710.0,12770.0,12980.0,12870.0,13710.0,13440.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
397492,66456062140680464,426094,467272.0,2021-08-15,13460.0,12980.0,13220.0,13290.0,13010.0,12980.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
patterns = Pattern.objects.all()

In [15]:
for pattern in tqdm([patterns[0]]):
    df_pattern_key = 'CDL_' + pattern.pattern_key.upper()
    sub_df = df[df[df_pattern_key] != 0].drop(['stock_id'], axis=1).reset_index()[[
        'stock_id', 'date', df_pattern_key
    ]]
    for key, row in tqdm(sub_df.iterrows()):
        try:
            hpap = HistoricalPatternActionPoint(
                stock=stocks_object[row[0]],
                pattern=pattern,
                date=row[1],
                value=row[2]
            )
            hpap.save()
        except Exception as e:
            print(e)
            pass

/var/folders/dr/l8_gry7975l0f3fl8m62sdbh0000gn/T/ipykernel_7794/1656353874.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for pattern in tqdm([patterns[0]]):

  0%|          | 0/1 [00:00<?, ?it/s]

/var/folders/dr/l8_gry7975l0f3fl8m62sdbh0000gn/T/ipykernel_7794/1656353874.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for key, row in tqdm(sub_df.iterrows()):

0it [00:00, ?it/s]

no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
9211775239375292
9211775239375292
9481703061634968
9698674686691944
9698674686691944
9698674686691944
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
10568944722570444
11129387075131724
11403770140000604
11403770140000604
no such table: main.bourse_refs_api_stock
11432067920374604
11432067920374604
11560002870991148
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
12303918642491680
12303918642491680
no such table: main.bourse_refs_api_stock
12638840758449460
12638840758449460
12638840758449460
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
12752224677923340
12752224677923340
12752224677923340
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
13227300125161436
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
13611044044646900
13611044044646900
13937270451301972
14153483684603256
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
14800142337291216
14800142337291216
14800142337291216
14957056743925736
14957056743925736
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
16369313804633524
no such table: main.bourse_refs_api_stock
16693610252404740
16959429956899456
no such table: main.bourse_refs_api_stock
17330546482145552
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
17834623106317040
17939384202383792
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
18063426072758456
18346219759153872
18401147983387688
18401147983387688
18401147983387688
18401147983387688
18599703143458100
18883380772506224
18883380772506224
18883380772506224
19257295292088312
19257295292088312
19257295292088312
19257295292088312
19471788163911688
19471788163911688
19471788163911688
19471788163911688
19920168236103184
no such table: main.bourse_refs_api_stock
20024911381434088
20024911381434088
20034264486679144
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
20560887114747720
20562694899904340
20865316761157980
20865316761157980
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
21524058405934928
22086876724551480
22086876724551480
22086876724551480
22087269603540840
22255783119783048
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
22299894048845904
22299894048845904
22308305646551496
22427604495160868
22490169030401336
22560050433388048
22560050433388048
22667016906590504
22667016906590504
22903901709044824
22903901709044824
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
23936607891892332
23936607891892332
24018878640527908
24085906177899788
24212636157410844
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
24644999329120296
25001509088465004
25215182208950216
25244329144808272
no such table: main.bourse_refs_api_stock
25514780181345712
26014913469567888
26014913469567888
26547785441834728
26997316501080744
26997316501080744
26997316501080744
no such table: main.bourse_refs_api_stock
27218386411183408
27218386411183408
27218386411183408
27299841173245404
27308217070238236
27814844870305608
27814844870305608
27814844870305608
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
28230238564334912
28253678449273504
28320293733348824
28320293733348824
28320293733348824
28431095903407568
28672095850798500
28672095850798500
28809886765682160
28845264556937488
28845264556937488
28854105556435128
29527985620948696
29527985620948696
29747059672582492
29747059672582492
29758477602878556
29758477602878556
29860265627578400
29882244560576008
30231789123900528
30231789123900528
30231789123900528
30443839313522576
30443839313522576
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
30765727085936320
30765727085936320
no such table: main.bourse_refs_api_stock
30852391633490756
30974710508383144
no such table: main.bourse_refs_api_stock
31791737198597564
31791737198597564
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
32257753560585504
32357363984168440
32357363984168440
32357363984168440
no such table: main.bourse_refs_api_stock
32679348534913644
32821908911812080
32821908911812080
32821908911812080
32845891587040104
32845891587040104
33293588228707000
33293588228707000
33293588228707000
33406621820337160
33406621820337160
no such table: main.bourse_refs_api_stock
33629260529503412
33629260529503412
33683240001985964
33683240001985964
33683240001985964
33736447482634584
33736447482634584
33736447482634584
33783140337377392
33783140337377392
33808206014018432
33808206014018432
33854964748757476
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
34032872653290888
34032872653290888
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
34557241988629816
34557241988629816
34621618468546064
34641719089573668
34641719089573668
34641719089573668
34673681828119296
34673681828119296
34673681828119296
34673681828119296
34721884030854212
34721884030854212
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
35366681030756040
35424116338766900
35424116338766900
35424116338766900
35424116338766900
35425587644337448
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
35796086458096256
no such table: main.bourse_refs_api_stock
35964395659427028
36773155987365096
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
37222720235819360
37281199178613856
37614886280396032
37631109616997984
37631109616997984
37842793167868640
37842793167868640
38179358042686392
38437201078089288
38437201078089288
38437201078089288
38547060135156072
38547060135156072
38555056423456632
38555056423456632
38555056423456632
38568786927478800
39116664428676216
39116664428676216
39436183727126208
39436183727126208
no such table: main.bourse_refs_api_stock
39683880301779504
39751275523025336
39807886630843040
39807886630843040
40025799067544200
40043919653526080
40262275031537920
40411537531154480
40505767672724776
40505767672724776
40505767672724776
40505767672724776
40611478183231800
40808043719554944
40808043719554944
41048299027409944
41284516796232936
41379697187196384
41625340598198552
41781090739318248
41781090739318248
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
42354736493447488
42354736493447488
43026118635839184
43256212620530448
43283802997035464
43283802997035464
43374709930371264
43545527030854336
no such table: main.bourse_refs_api_stock
43781018754867728
43951910415124968
43951910415124968
43951910415124968
43966385447049552
43966385447049552
43966385447049552
43966385447049552
44013656953678056
44153164692325704
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
44665761767777760
44802346787824968
44802346787824968
44818950263583520
44818950263583520
44891482026867832
44969149970836672
44986797317463048
44986797317463048
45066064863062752
45174198424472336
45174198424472336
45174198424472336
45641540066710192
45641540066710192
45641540066710192
45895339414786360
45895339414786360
46178280540110576
46178280540110576
46178280540110576
46348559193224088
46348559193224088
46348559193224088
46741025610365784
46741025610365784
46741025610365784
46741025610365784
46741025610365784
46741025610365784
46752599569017088
46772701938567448
46982154647719704
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
47348197320716808
47841327496247360
47841327496247360
47996917271187216
47996917271187216
48010225447410248
48287670503317416
48287670503317416
48619517949257752
no such table: main.bourse_refs_api_stock
48753732042176712
48753732042176712
48981174642799640
49054891736433696
49054891736433696
49054891736433696
49054891736433696
49244604018250368
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
49399017998386088
49399017998386088
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
49627523909849328
49953653111442592
49953653111442592
49953653111442592
49953653111442592
50185721305191888
50185721305191888
50341528161302544
50341528161302544
50368344235826304
50368344235826304
50633804639547464
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
51106317433079216
51106317433079216
51106317433079216
51459202425114448
51617145873056480
51617145873056480
52206600101613040
no such table: main.bourse_refs_api_stock
52232388263291376
52382684379473040
52792903131341208
52792903131341208
52792903131341208
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
53113471126689456
53113471126689456
53449700212786320
53686258677793040
54419429862704328
54482686501491504
54482686501491504
54493234408301136
54509759694064216
54676885047867736
55201604487356056
55201604487356056
55254206302462112
55254206302462112
55254206302462112
55848849021200648
55897939403232752
55897939403232752
56324206651661880
56429431740318488
56550776668133560
56550776668133560
56550776668133560
56572417882819504
56574323121551264
56574323121551264
56717416662584056
56798822689379376
56798822689379376
57086055330734192
57086055330734192
57086055330734192
57273529732791248
57273529732791248
no such table: main.bourse_refs_api_stock
57309221039930240
57309221039930240
57600064931636080
57722642338781672
57722642338781672
no such table: main.bourse_refs_api_stock
57944184894703824
57944184894703824
58180284328186632
58741071099161280
58931793851445920
58931793851445920
58931793851445920
59486059679335016
59486059679335016
59612098290740352
59612098290740352
59839275647597024
59848307608894800
59866041653103344
59921975187856912
60079434631497944
60079434631497944
60247433951600824
60350996279289096
60350996279289096
60451823714332896
60451823714332896
61102694810476200
61332057061846616
61332057061846616
61332057061846616
61664227282090064
61664227282090064
61664227282090064
no such table: main.bourse_refs_api_stock
62346804681275280
62603302940123328
62786156501584864
no such table: main.bourse_refs_api_stock
62977319271289928
62977319271289928
63084741752814848
63363116407864464
63380098535169032
63481599728522320
63499217872110600
63499217872110600
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
63915926161403344
63917421733088080
64155926828410024
64289770858657144
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
64699417405634264
64699417405634264
64699417405634264
64699417405634264
no such table: main.bourse_refs_api_stock
64842837716888824
64843936383937544
65004959184388992
65004959184388992
65004959184388992
65018804181564928
65023851436340576
65122215875355552
65414507129586384
65576885779918208
65671173927025648
65671173927025648
65883838195688440
66127247173352976
66127247173352976
66127247173352976
66127247173352976
66142616039907392
66142616039907392
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
66701874099226160
66701874099226160
66701874099226160
66701874099226160
66726992874614784
66772024744156376
66772024744156376
66772024744156376
66772024744156376
66830065858417080
67030488744129336
67030488744129336
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
67170215467608128
67170215467608128
67206358287598048
67206358287598048
67206358287598048
67223870501587104
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
67988012428906656
68117765376081368
68488673556087152
no such table: main.bourse_refs_api_stock
68635710163497088
68635710163497088
68635710163497088
68909035712962736
68994573424108744
69067576215760008
no such table: main.bourse_refs_api_stock
69143674941561640
69143674941561640
69143674941561640
69454539056549104
69847139870135240
69847139870135240
no such table: main.bourse_refs_api_stock
70270965300262392
70289374539527248
70289374539527248
70289374539527248
70289374539527248
70498485598181600
71290297158948752
71510396252618328
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
no such table: main.bourse_refs_api_stock
71856634742001728
71856634742001728
71856634742001728
71856634742001728

In [14]:
HistoricalPatternActionPoint.objects.all()